.buttons {
  button,
  a {
    width: 100%;
    display: block;
    color: #4c87ff;
    font-size: 14px;
    padding: 4px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: rgba(0, 178, 255, 0.5);
      color: #fff;
      outline: none;
    }

    b {
      background-color: rgba(0, 178, 255, 0.5);
      color: #000;
      font-weight: normal;

      &:first-child {
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  button {
    background: none;
    border: none;
    text-align: left;
  }
}