.input {
  input {
    width: 100% !important;
    height: 24px !important;
    background-color: #393939 !important;
    color: #fff !important;

    &:focus {
      background-color: #444 !important;
      outline: none !important;
    }
  }
}