.quickCommand {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 4px;
  line-height: 1;
  z-index: 9999999;
}

.result {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.focusedLink {
  background-color: rgba(0, 178, 255, 0.5);
}